<nav class="navbar">
  <div class="container" id="nav-container">
      <div class="col-md-4">
        {{#if messages.reset}}
          <div id="regSuccess" class="alert alert-success" role="alert">
            {{messages.reset}}
          </div>
        {{/if}}
      </div>
      <div class="col-md-5"></div>
      <div class="col-md-2 ml-5 btn-group">
        <a class="navbar-text btn btn-primary" href="/home/Admin/reset" role="button">Reset</a>
        <a class="navbar-text btn btn-primary" href="/" role="button">Logout</a>
      </div>
      <div class="col-md-1"></div>
  </div>
</nav>
{{#if current}}
  <div class="container-fluid overlay2">
    <a id="link2admin" class="btn" href="/home/Admin">
      <div id="current" class="card text-white bg-primary" style="width: 20rem;">
      <div class="card-header">
        <h5 class="mt-2 mb-0">{{current}}</h5>
        <div id="close">x</div>
      </div>
        <div class="card-body">
          {{#each waiter}}
            <h6 class="card-title">{{this.name}}</h6>
          {{/each}}
        </div>
      </div>
    </a>
  </div>
{{/if}}
<div class="container" id="adminLogin">
  <div class="row">
    <div class="row adminLogin">
      <div class="card-group" id="cards">
        {{#each day}}
        <a class="btn days col-md-3 mb-3 ml-3" href="/admin/{{this.day}}">
          <div class="card text-white bg-primary" style="max-width: 20rem; border-radius: 5px;">
          <div class="card-header"><h5>{{this.day}}</h5></div>
            <div class="card-body">
              <h6 class="card-title">Subscriptions: <span class="badge badge-secondary">{{this.subs}}</span></h6>
            </div>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>
